body {
  margin: 0;
}
.back {
  background: #4984b8;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
}

.div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}

.full-image {
    width:100vw;
    height: 100vh;
    background: green;
    background-size: cover;
}
.full-image h1 {
  position: absolute;
  top: 20vh;
  left: 10vh;
  color: #000;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font: 120px "Verdana";
}



